<template>
  <div class="login-form h-full flex flex-col items-stretch">
    <form class="h-full flex flex-col justify-around px-6 my-auto" @submit.prevent="login">
      <div class="email">
        <input class="bg-gray-200 w-full border border-gray-300 rounded-full px-4 h-10 focus:border-cu-blue" :class="{'border-red-600 border-4': $v.email.$error}" type="email" name="email" id="email" @blur="$v.email.$touch()" v-model="email" placeholder="Email">
      </div>
      <div class="password">
        <input class="bg-gray-200 w-full border border-gray-300 rounded-full px-4 h-10 focus:border-cu-blue" :class="{'border-red-600 border-4': $v.password.$error}" type="password" name="password" id="password" @blur="$v.password.$touch()" v-model="password" placeholder="Password">
        <div class="flex">
          <p class="ml-1 mt-1 text-xs mr-1  text-red-600" v-if="loginError">{{ loginError }}</p>
          <p class="mr-1 mt-1 flex-grow text-right cursor-pointer text-xs text-cu-blue"><a @click.prevent="$emit('loginAction', 'resetReq')">Reset Password</a></p>
        </div>
      </div>
      <div>
        <button class="block bg-cu-blue text-white text-lg px-6 py-1 rounded-lg m-auto hover:shadow-outline" :class="{'cursor-not-allowed hover:shadow-none': $v.$invalid}" @click.prevent="login">Login</button>
      </div>
    </form>
  </div>
</template>

<script>
import { required, email } from "vuelidate/lib/validators";

export default {
  data() {
    return {
      email: "",
      password: "",
      loginError: ""
    };
  },
  validations: {
    email: {
      required,
      email
    },
    password: {
      required
    }
  },
  methods: {
    login() {
      if (this.$v.$invalid) {
        return;
      } else {
        this.$store
          .dispatch("auth/login", {
            username: this.email,
            password: this.password
          })
          .then(() => {
            this.$router.push("/");
          })
          .catch(error => {
            this.loginError = error;
          });
      }
    }
  },
  created() {
    if (this.$route.params.timeout) {
      this.loginError = this.$route.params.timeout;
    }
  }
};
</script>

<style>
</style>
