<template>
  <div class="register-form h-full flex flex-col items-stretch">
    <form class="h-full flex flex-col justify-around px-6 my-auto" @submit.prevent="login">
      <div class="name flex">
        <div class="firstname mr-1">
          <input class="bg-gray-200 w-full border border-gray-300 rounded-full px-4 h-10 focus:border-cu-blue" :class="{'border-red-600 border-4': $v.firstname.$error}" type="text" name="firstname" id="firstname" @blur="$v.firstname.$touch()" v-model="firstname" placeholder="First Name">
        </div>
        <div class="lastname ml-1">
          <input class="bg-gray-200 w-full border border-gray-300 rounded-full px-4 h-10 focus:border-cu-blue" :class="{'border-red-600 border-4': $v.lastname.$error}" type="text" name="lastname" id="lastname" @blur="$v.lastname.$touch()" v-model="lastname" placeholder="Last Name">
        </div>
      </div>
      <div class="email">
        <input class="bg-gray-200 w-full border border-gray-300 rounded-full px-4 h-10 focus:border-cu-blue" :class="{'border-red-600 border-4': $v.email.$error}" type="email" name="email" id="email" @blur="$v.email.$touch()" v-model="email" placeholder="Email">
      </div>
      <div class="passwords flex">
        <div class="password mr-1">
          <input class="bg-gray-200 w-full border border-gray-300 rounded-full px-4 h-10 focus:border-cu-blue" :class="{'border-red-600 border-4': $v.password.$error}" type="password" name="password" id="password" @blur="$v.password.$touch()" v-model="password" placeholder="Password">
        </div>
        <div class="confirm-password ml-1">
          <input class="bg-gray-200 w-full border border-gray-300 rounded-full px-4 h-10 focus:border-cu-blue" :class="{'border-red-600 border-4': !$v.confirmPassword.sameAsPassword}" type="password" name="confirm-password" id="confirm-password" @blur="$v.confirmPassword.$touch()" v-model="confirmPassword" placeholder="Confirm Password">
        </div>
      </div>
      <div class="h-3">
        <p class="ml-1 mb-1 text-xs mr-1 text-red-600" v-if="regError">{{ regError }}</p>
      </div>
      <div>
        <button class="block bg-cu-blue text-white text-lg px-6 py-1 rounded-lg m-auto hover:shadow-outline" :class="{'cursor-not-allowed hover:shadow-none': $v.$invalid}" @click.prevent="register">Register</button>
      </div>
    </form>
  </div>
</template>

<script>
import { required, sameAs, email } from "vuelidate/lib/validators";
import axios from "axios";

export default {
  data() {
    return {
      firstname: "",
      lastname: "",
      email: "",
      password: "",
      confirmPassword: "",
      regError: ""
    };
  },
  validations: {
    firstname: {
      required
    },
    lastname: {
      required
    },
    email: {
      required,
      email
    },
    password: {
      required
    },
    confirmPassword: {
      sameAsPassword: sameAs("password")
    }
  },
  methods: {
    register() {
      if (this.$v.$invalid) {
        return;
      } else {
        this.regError = "";
        axios
          .post("/users/create", {
            firstname: this.firstname,
            lastname: this.lastname,
            email: this.email,
            password: this.password
          })
          .then(() => {
            this.firstname = "",
            this.lastname = "",
            this.email = "",
            this.password = "",
            this.confirmPassword = "",
            this.$emit("loginAction", "regSuccess");
          })
          .catch(error => {
            this.regError = error.response.data.message;
          });
      }
    },
  },
};
</script>

<style>
</style>
