<template>
  <div class="reg-success flex flex-col items-center h-full">
    <h1 class="text-cu-blue text-2xl mt-4 mb-2">Success!</h1>
    <p>You have successfully registered.</p>
    <p>Please check your inbox to confirm your email address.</p>
  </div>
</template>