<template>
  <div class="reg-success flex flex-col items-center h-full">
    <h1 class="text-cu-blue text-2xl mt-4 mb-2">Success!</h1>
    <p>Your password has been changed.</p>
  </div>
</template>

<script>
export default {
  mounted() {
    setTimeout(() => {
      this.$emit("loginAction", "login");
    }, 2500);
  }
};
</script>
