<template>
  <div class="reset-submit flex flex-col items-center h-full">
    <h1 class="text-cu-blue text-2xl mt-4 mb-3">Reset Requested</h1>
    <p>Please check your email to find</p>
    <p>your password reset link</p>
  </div>
</template>
