<template>
  <div class="reset-req flex flex-col items-center h-full">
    <h3 class="text-cu-blue text-lg mb-2">Reset Password</h3>
    <p class="text-sm text-gray-700">Please enter your email address to reset your password.</p>
    <p class="text-sm text-gray-700 mb-5">If an account exists, you will receive an email shortly.</p>
    <form class="h-full w-full flex flex-col justify-around px-6 my-auto" @submit.prevent="resetReq">
      <div class="email">
        <input class="bg-gray-200 w-full border border-gray-300 rounded-full px-4 h-10 focus:border-cu-blue" :class="{'border-red-600 border-4': $v.email.$error}" type="email" name="email" id="email" @blur="$v.email.$touch()" v-model="email">
      </div>
      <div class="h-3">
        <p class="ml-1 text-xs text-red-600" v-if="resetReqError">{{ resetReqError }}</p>
      </div>
      <div>
        <button class="block bg-cu-blue text-white text-lg px-6 py-1 rounded-lg m-auto hover:shadow-outline" :class="{'cursor-not-allowed hover:shadow-none': $v.$invalid}" @click.prevent="resetReq">Reset</button>
      </div>
    </form>
  </div>
</template>

<script>
import { required, email } from "vuelidate/lib/validators";
import axios from "axios";

export default {
  data() {
    return {
      email: "",
      resetReqError: ""
    };
  },
  validations: {
    email: {
      required,
      email
    }
  },
  methods: {
    resetReq() {
      if (this.$v.$invalid) {
        return;
      } else {
        this.resetReqError = "";
        axios
          .get(`/auth/reset_password?email=${this.email}`)
          .then(() => {
            this.email = ""
            this.$emit("loginAction", "reset-submit");
          })
          .catch(error => {
            this.resetReqError = error.response.data.message;
          });
      }
    }
  }
};
</script>
