<template>
  <div class="login-form h-full flex flex-col items-stretch">
    <form class="h-full flex flex-col justify-around px-6 my-auto" @submit.prevent="reset">
      <div class="password">
        <input class="bg-gray-200 w-full border border-gray-300 rounded-full px-4 h-10 focus:border-cu-blue" :class="{'border-red-600 border-4': $v.password.$error}" type="password" name="password" id="password" @blur="$v.password.$touch()" v-model="password" placeholder="Password">
      </div>
      <div class="confirm-password">
        <input class="bg-gray-200 w-full border border-gray-300 rounded-full px-4 h-10 focus:border-cu-blue" :class="{'border-red-600 border-4': $v.confirmPassword.$error}" type="password" name="confirm-password" id="confirm-password" @blur="$v.confirmPassword.$touch()" v-model="confirmPassword" placeholder="Confirm Password">
        <div>
          <p class="ml-1 mt-1 text-xs mr-1  text-red-600" v-if="resetError">{{ resetError }}</p>
        </div>
      </div>
      <div>
        <button class="block bg-cu-blue text-white text-lg px-6 py-1 rounded-lg m-auto hover:shadow-outline" :class="{'cursor-not-allowed hover:shadow-none': $v.$invalid}" @click.prevent="reset">Change Password</button>
      </div>
    </form>
  </div>
</template>

<script>
import { required, sameAs } from "vuelidate/lib/validators";
import axios from "axios";

export default {
  data() {
    return {
      password: "",
      confirmPassword: "",
      resetError: ""
    };
  },
  validations: {
    password: {
      required
    },
    confirmPassword: {
      sameAsPassword: sameAs("password")
    }
  },
  methods: {
    reset() {
      if (this.$v.$invalid) {
        return;
      } else {
        this.resetError = ""
        axios
          .post("/auth/reset_password", {
            reset_token: this.$route.query.reset_token,
            password: this.password
          })
          .then(() => {
              this.$emit("loginAction", "resetSuccess")
          })
          .catch(error => {
            this.resetError = error.response.data.message;
          })
      }
    }
  }
};
</script>

<style>
</style>
