<template>
  <div class="default-layout">
    <nav-bar></nav-bar>
    <div class="default-main">
      <slot></slot>
    </div>
  </div>
</template>

<script>
import navBar from "@/components/layout/Navbar.vue";

export default {
  name: "DefaultLayout",
  components: {
    navBar
  },
  data() {
    return {};
  }
};
</script>

<style>
</style>
