<template>
    <nav class="flex justify-between">
        <ul class="navigation flex">
            <router-link to="/" tag="li" class="p-2"><a>Dashboard</a></router-link>
            <router-link to="/inventory" tag="li" class="p-2"><a>Inventory</a></router-link>
        </ul>
        <ul class="user flex">
            <!-- <router-link to="/login" tag="li" class="p-2"><a>Login</a></router-link> -->
            <li class="cursor-pointer p-2" @click="logout"><a>Logout</a></li>
        </ul>
    </nav>
</template>

<script>
export default {
    data () {
        return {
            
        }
    },
    methods: {
        logout() {
            this.$store.dispatch('auth/logout')
            this.$router.push('/login')
        }
    }
}
</script>

<style>

</style>
