<template>
  <blank-layout>
    <div class="login h-screen w-screen flex items-center justify-center">
      <div class="login-card bg-white border-gray-500 border rounded-lg px-8 pb-2">
        <div class="login-header px-1 mt-6">
          <!-- <ul class="flex justify-around px-8 border-b">
            <li class="-mb-px inline-block px-1 py-1 mr-1 cursor-pointer text-center w-40 border-l border-t border-r" @click="selectedForm = 'login'">Login</li>
            <li class="inline-block px-1 py-1 ml-1 cursor-pointer text-center w-40" @click="selectedForm = 'register'">Register</li>
          </ul> -->
          <ul class="flex border-b">
            <li class="mr-1 bg-white inline-block py-2 px-4 text-cu-blue font-semibold cursor-pointer" :class="selectedForm == 'login' ? '-mb-px border-l border-t border-r rounded-t' : 'hover:text-blue-800'">
              <a @click="selectedForm = 'login'">Login</a>
            </li>
            <li class="mr-1 bg-white inline-block py-2 px-4 text-cu-blue font-semibold cursor-pointer" :class="selectedForm == 'register' ? '-mb-px border-l border-t border-r rounded-t' : 'hover:text-blue-800'">
              <a @click="selectedForm = 'register'">Register</a>
            </li>
          </ul>
        </div>
        <div class="login-form h-56 pt-3 pb-1">
          <transition name="fade" mode="out-in">
            <keep-alive>
              <component :is="selectedForm" @loginAction="selectedForm = $event"></component>
            </keep-alive>
          </transition>
        </div>
      </div>
    </div>
  </blank-layout>
</template>

<script>
import blankLayout from "@/components/layout/dynamic/BlankLayout.js";
import login from "@/components/login/Login.vue";
import register from "@/components/login/Register.vue";
import regSuccess from "@/components/login/RegSuccess.vue";
import resetReq from "@/components/login/ResetReq.vue";
import resetSubmit from "@/components/login/ResetSubmit.vue";
import reset from "@/components/login/Reset.vue";
import resetSuccess from "@/components/login/ResetSuccess.vue";

export default {
  name: "Login",
  components: {
    blankLayout,
    login,
    register,
    regSuccess,
    resetReq,
    resetSubmit,
    reset,
    resetSuccess
  },
  data() {
    return {
      selectedForm: ""
    };
  },
  created() {
    if (this.$route.query.reset_token) {
      this.selectedForm = reset;
    } else {
      this.selectedForm = login;
    }
    // console.log(this.$route.query.reset_token)
  }
};
</script>

<style>
.login {
  background-image: linear-gradient(#0066cc, #0066cc 50%, white 50%, white);
}
.login-card {
  width: 450px;
}
.fade-enter-active {
  transition: opacity 0.3s ease-out;
}
.fade-leave-active {
  transition: opacity 0.3s ease-in;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
</style>
