<template>
  <default-layout>
    <div class="dashboard">
      <h1>Dashboard</h1>
    </div>
  </default-layout>
</template>

<script>
import defaultLayout from '@/components/layout/dynamic/DefaultLayout.js';

export default {
  name: 'Dashboard',
  components: {
    defaultLayout,
  },
};
</script>
