<template>
  <default-layout>
    <div class="inventory">
      <h1>Inventory</h1>
    </div>
  </default-layout>
</template>

<script>
import defaultLayout from "@/components/layout/dynamic/DefaultLayout.js";

export default {
  name: "Inventory",
  components: {
    defaultLayout,
  }
}
</script>